:root {
    --melody-bg-color: rgb(255, 255, 255);
    --melody-text-color: #e36aa5;
    --melody-dark-pink: #ff9cdd;
    --melody-medium-pink: #f9bee4;
    --melody-light-pink: #ffd1f6;
    --melody-yellow: #fcfd9e;
    --melody-white: #fffefe;

    --kuromi-bg-color: #8260a2;
    --kuromi-text-color: #faf9f9;
    --kuromi-black:#3c383e;
    --kuromi-light-purple: #c097cf;
    --kuromi-purple: #8260a2;
    --kuromi-white: #eeeeee;
    --kuromi-pink: #c27ba0;

}

body {
    background-color: var(--melody-bg-color);
    color: var(--melody-text-color);
}


input:checked + .hero {
    background-color: var(--kuromi-black);
}

.switch {
    position: relative;
    display: inline-block;
    border: pink;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--kuromi-purple);
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .slider:before { /* toggle handle */
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--melody-white);
    -webkit-transition: .5s;
    transition: .5s;
  }

  input:checked + .slider::before {
    background-color: var(--kuromi-black);
  }

  
  input:checked + .slider {
    background-color: var(--melody-dark-pink);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  img{
    justify-content: center;
    align-items: center;
    height: 200px;
    position: relative;
    
    /* display: block;
    float: left; 
    position: relative; 
    transition:height 0.5s; 
    -webkit-transition:height 0.5s; 
    text-align: center; */
  }

  #imageBasket:hover {
      height: 230px;
  }

  .image-container {
    padding: 25px;
    border-radius:10px;
    margin: 5px 1% 5px 1%; 
  }
  

  .hero {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure full viewport height */
    position: relative; /* No need for absolute positioning */
}

.image-container, .containerSwitch {
    position: static; /* Reset absolute positioning */
    margin: 5px 0;
    /* padding: 15p; */
}

#name {
  /* color: var(--melody-text-color); */
  /* /* font-family:  */
  /* font-family: "Lucida Console", "Courier New", monospace; */
  /* font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif; */
  font-size: 3rem;
  /* font-weight: 100 ; */
  padding: 5px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  

  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
}